<!DOCTYPE html>
<html lang="en-US"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Club List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="py-5" layout:fragment="body">
        <div class="container px-5 my-5">
            <div class="alert alert-success" th:if="${param.success}">
                You are registered successfully
            </div>
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Runners Near You</h1>
                <p class="lead fw-normal text-muted mb-0">Runner found in your area</p>
            </div>
            <div class="row gx-5">
                <div>
                    <form class="form-inline my-2 my-lg-0 mb-3" th:action="@{/clubs/search}">
                        <input aria-label="Search" class="form-control me-sm-2 mb-5" name="query"
                               placeholder="Search running clubs" type="search">
                    </form>
                </div>
                <div class="col-lg-6 mb-2" th:each="club :${clubs}">
                    <div class="position-relative mb-3">
                        <img alt="..." class="img-fluid rounded-3 mb-3" th:src="${club.photoUrl}"/>
                        <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!"
                           th:text="${club.title}">Project name</a>
                    </div>
                    <a class="btn btn-primary" th:href="@{/clubs/{clubId}(clubId=${club.id})}">View</a>
                    <a class="btn btn-primary" th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}">Edit</a>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>